@font-face {
    font-family: 'Instrument Sans';
    src: url('./fonts/instrument_sans/InstrumentSans-VariableFont_wdth,wght.ttf');
}

@font-face {
    font-family: 'Instrument Sans Semi Bold';
    src: url('./fonts/instrument_sans/static/InstrumentSans-SemiBold.ttf');
}

.chooseinterestfirsthalf {
    background-color: #313131;
    text-align: center;
    align-content: center;
    height: 30vh;
}

.chooseinterestheader {
    font-size: 2.7rem;
    font-weight: bold;
    position: relative;
    margin-top: 7rem;
}

.chooseinterestsecondhalf {
    background-color: #313131;
    text-align: center;
    align-content: center;
    align-items: center;
    height: 70vh;
}

.interestbutton {
    position: static;
    bottom: 3rem;
    width: 9rem;
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    background: #686868;
    color: #f5f5f5;
    font-family: 'Instrument Sans Semi Bold';
    margin-bottom: 1.6rem;
}

.interestbutton-selected {
    position: static;
    bottom: 3rem;
    width: 9rem;
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    background: #f5f5f5;
    color: #686868;
    font-family: 'Instrument Sans Semi Bold';
    margin-bottom: 1.6rem;

}


.discoverFeed {
    width: 8rem;
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    background: #94CB7D;
    font-family: 'Instrument Sans Semi Bold';
    margin-bottom: 1.6rem;
}