@font-face {
    font-family: 'Instrument Sans';
    src: url('./fonts/instrument_sans/InstrumentSans-VariableFont_wdth,wght.ttf');
}

@font-face {
    font-family: 'Instrument Sans Semi Bold';
    src: url('./fonts/instrument_sans/static/InstrumentSans-SemiBold.ttf');
}

@font-face {
    font-family: 'Instrument Sans Bold';
    src: url('./fonts/instrument_sans/static/InstrumentSans-Bold.ttf');
}

@font-face {
    font-family: 'Instrument Sans Medium';
    src: url('./fonts/instrument_sans/static/InstrumentSans-Medium.ttf');
}

.outer-layout {
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.feed-image {
    width: 500px;
    height: 900px;
    object-fit: contain;
}

.next_video {
    margin-left: 20px;
}
